:root{
    --blue:#BA3B46;
    --cream:#fceade;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: var(--blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

/* gameboard */

.container{
    align-self: center;
    height: 300px;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.gameboard{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.1rem;
}

.gameboard>*{
    background-color: white;
}

/* scoreboards */

.scoreboard{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.scoreboard>*{
    background-color: var(--cream);
}