:root {
    --blue: #BA3B46;
    --cream: #fceade;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: var(--blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
}

/* gameboard */

.container {
    align-self: center;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.gameboard {
    
    width: min(70vw, 70vh);
    height: min(70vw, 70vh);
    display: grid;
    grid-template-columns: repeat(3, calc(min(70vw, 70vh)/3));
    grid-template-rows: repeat(3, calc(min(70vw, 70vh)/3));
}

.gameboard>* {
    background-color: white;
    font-size: 5rem;
    outline: #BA3B46 1px solid;
    align-content: center;
}

/* scoreboards */

.scoreboard {
    width: 10rem;
    display: flex;
    flex-direction: column;
}

.scoreboard>* {
    background-color: var(--cream);
    flex: 1;
    padding: 1rem;
}

.scoreboard>* {
    background-color: var(--cream);
    flex: 1;
    padding: 1rem;
}



@media screen and (max-width:1080px) {
    .container{
        flex-direction: column;
        margin: 0;
    }

    .scoreboard{
        width: 70vw;
        height: 10vh;
    }
}